.page-header {
  background-color: #1f1ab2;
}
.ant-page-header-back-button,
.ant-page-header-heading-title {
  color: white;
}
.ant-page-header-back-button:focus,
.ant-page-header-back-button:hover {
  color: #888;
}
.logout-title {
  color: white;
  cursor: pointer;
}
.navigation-name {
  color: #1373cc;
}
